.chat {
  margin: 10px;
  position: relative;
  height: 90px;
  width: 100%;
  clear: both;

  img {
    float: left;
    width: 100px;
    margin: 5px;
    border-radius: 3px;
    border: 3px solid #eee;
    margin-right: 10px;
  }

  .info {
    width: 100%;
    position: relative;

    h2 {
      font-size: 24px;
      font-weight: 600;
      margin: 0;

      span {
        position: relative;
        top: -2px;
        margin-left: 0px;
        background:rgba(151, 203, 252, 1);
        border: 2px solid rgba(70, 136, 199, 0.4);
        font-family: "Avenir Next" !important;
        font-weight: 600;
        color: #fff;
        font-weight: 600;
        padding: 0 6px;
        font-size: 16px;
        border-radius: 100%;
      }
    }

    p {
      margin: 0;
      padding: 0;
      font-weight: 300;
      font-size: 16px;
      width: 90%;

      &:first-child {
        font-size: 16px;
      }

      &:last-child {
        margin-top: 2px;
        font-size: 14px;
        color: rgb(184, 184, 184);
        font-weight: 400;
      }
    }
  }
}

.archive-container {
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 2;
  width: 100px;
  height: 100px;
  background: rgba(151, 203, 252, 0.8);
  text-align: center;
  color: #fff;
  cursor: pointer;

  p {
    i {
      font-size: 35px;
    }

    span {
      display: block;
      font-size: 20px;
      font-weight: 700;
    }
  }
}

.hide {
  display: none;
}