.chats-container {
  position: relative;
  height: calc(100vh - 233.5px);
  margin-top: 5px;

  h2 {
    margin: 15px 0;
    font-weight: 600;
  }

}

.manage-chats {
  margin: 0;
  position: absolute;
  top: 5px;
  right: 0;
  cursor: pointer;
  --webkit-user-select: none;
  --moz-user-select: none;
  user-select: none;
}