@import './components/utility/AutosuggestContainer';
@import './components/utility/Navbar';
@import './components/chats/ChatsShow';
@import './components/chats/ChatsIndex';
@import './components/users/UsersShow';
@import './components/Homepage.scss';

@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900');

* {
  box-sizing: border-box;
}

body {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke: 0.45px;
  -webkit-text-stroke: 0.45px rgba(0, 0, 0, 0.1);
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  color: #333;
  overflow: hidden;
  height: 100vh;

  ul {
    margin: 0;
    padding: 0;

    li {
      list-style-type: none;
    }
  }
}

.centered {
  text-align: center;
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.container {
  width: 90%;
  margin: 0 auto;
}

// Typography

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 66px;
  font-weight: 900;
  letter-spacing: -2px;
}

hr {
  border: 0;
  height: 1.5px;
  background: rgba(0, 0, 0, 0.05);
  margin: 5px auto;
}

a {
  text-decoration: none;
  color: #333;
}

i {
  cursor: pointer;
}

// Buttons

.button {
  margin: 5px auto;
  display: block;

  border: none;
  cursor: pointer;

  width: 200px;
  height: 50px;
  background: rgba(0, 0, 0, 0.1);
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  line-height: 50px;
  border-radius: 3px;
}

.submit {
  background: rgba(45, 136, 45, 0.75);
  width: 98%;
  height: 35px;
  line-height: 30px;
  margin: 30px 0;
}

// Forms

form {
  width: 80%;
  margin: 0 auto;

  label {
    display: block;
    text-align: left;
    margin: 5px;
    font-size: 18px;
    font-weight: 600;
  }

  input {
    margin: 5px 0;
    padding: 0;
    width: 98%;
    height: 30px;
    background: rgba(0, 0, 0, 0.1);
    border: none;
    color: #333;
    font-size: 20px;
    padding: 5px;
    border-radius: 3px;
  }
}

.online { 
  border: 3px solid rgba(155, 202, 115, 0.9) !important; 
}