@import './components/chats/ChatsShow';
@import './components/chats/ChatsIndex';


@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke: 0.45px;
  -webkit-text-stroke: 0.45px rgba(0, 0, 0, 0.1);
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  color: #333;
  
}

ul {
  margin: 0;
  padding: 0;

  li {
    list-style-type: none;
  }
}

.button {
  margin: 5px auto;
  display: block;

  border: none;
  cursor: pointer;

  width: 200px;
  height: 50px;
  background: rgba(0, 0, 0, 0.1);
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  line-height: 50px;
  border-radius: 3px;
}

.submit {
  background: rgba(45, 136, 45, 0.75);
  width: 98%;
  height: 35px;
  line-height: 30px;
  margin: 30px 0;
}

.centered {
  text-align: center;
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 66px;
  font-weight: 800;
  letter-spacing: -2px;
}

hr {
  border: 0;
  height: 1.5px;
  background: rgba(0, 0, 0, 0.05);
  margin: 5px auto;
}

a {
  text-decoration: none;
  color: #333;
}

i {
  cursor: pointer;
}


.homepage {
  width: 100%;
  height: 100vh;
  color: #333;

  h2 {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 50px;
  }
}

.authentication {
  h1 {
    margin-bottom: 10px;
  }
}

.container {
  width: 90%;
  margin: 0 auto;
}

.profile {
  margin: 30px auto;
  text-align: center;
  max-width: 600px;

  img {
    width: 80%;
    border: 4px solid #eee;
    border-radius: 3px;
  }
}

form {
  width: 80%;
  margin: 0 auto;

  label {
    display: block;
    text-align: left;
    margin: 5px;
    font-size: 18px;
    font-weight: 600;
  }

  input {
    margin: 5px 0;
    padding: 0;
    width: 98%;
    height: 30px;
    background: rgba(0, 0, 0, 0.1);
    border: none;
    color: #333;
    font-size: 20px;
    padding: 5px;
    border-radius: 3px;
  }
}

header {
  nav {
    width: 100%;
    height: 60px;
  
    ul {
      li {
        width: 60px;
        height: 60px;
        line-height: 60px;
        text-align: center;
        font-size: 30px;
        color: #333;
  
       &:first-child { float: left; } 
       &:last-child { float: right; }
      }
    }
  }

  .banner {
    width: 90%;
    margin: 0 auto;
  }

  .back, h1 {
    display: inline-block;
  }

  .back {
    position: relative;
    bottom: 4px;

    i {
      font-size: 40px;
      color: #ccc;
    }
  }

  h1 {
    font-size: 45px;
    padding-left: 15px;
    font-weight: 600;
  }
}

.new-chat {
  margin-top: 15px;
  height: 50px;

  input {
    width: 100%;
    height: 50px;
    font-size: 20px;
    font-weight: 300;
    background: #fafafa;
    border: none;
    border-radius: 3px;
    padding: 5px;
    outline: none;
  }
}


.react-autosuggest__suggestion {
  cursor: pointer;
  height: 80px;

  img, p {
    display: inline-block;
  }

  img {
    width: 60px;
    margin: 10px;
    border-radius: 5px;
    border: 3px solid #eee;
  }

  p {
    line-height: 80px;
    font-size: 22px;
    font-weight: 400;
    position: relative;
    top: -30px;
  }
}

.react-autosuggest__suggestions-container {
  background: #fafafa;
  border-radius: 0 0 5px 5px;
  width: 100%;
  z-index: 1;
  position: relative;
}

.container {
  h2 {
    margin-top: 30px;
    font-weight: 600;
    margin: 15px 0;
  }
}

.online { border: 3px solid rgba(79, 156, 16, 0.9) !important; }